body {
  font-family: "Fira Sans", sans-serif;
  background-color: antiquewhite;
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.image-container {
  text-align: center;
}

h1 {
  text-align: center;
  color: #ca1c11;
}

#todays-challenge {
  color: teal;
  font-weight: bold;
  font-size: 20px;
}

p {
  text-align: center;
  color: midnightblue;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
