body {
  font-family: "Fira Sans", sans-serif;
  background-color: antiquewhite;
  margin: 50px;
  text-align: center;
}

h1 {
  color: #ca1c11;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
